/* Import TailwindCSS */
@import "tailwindcss";

/* Import PrimeReact theme */
@import 'primereact/resources/themes/lara-light-indigo/theme.css' layer(primereact);

/* Import custom theme overrides */
@import './custom-theme.css';

@layer tailwind-base, primereact, tailwind-utilities;

.custom\:block {
  @media (width >=1040px) {
    display: block;
  }
}

.custom\:hidden {
  @media (width >=1040px) {
    display: none;
  }
}

/* Panel Menu Styles */
.p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
  border: none !important;
  background: white;
  border-radius: 0.375rem;
  transition: none;
}

.p-panelmenu .p-panelmenu-content {
  border: none !important;
}

/* Menubar Styles */
.p-menubar {
  border: none !important;
  background-color: white ! important;
  padding: 0 !important;
}

.p-menubar .p-submenu-list {
  width: max-content !important;
}

.p-menuitem-icon,
.fi {
  display: flex;
  align-items: center;
  /* Căn giữa icon */
  justify-content: center;
}